// Variables

$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$lighterCyan: hsl(179, 48%, 52%);

$size-main: 16px; // change this to rem;

$fontWeightReg: 400;
$fontWeightBold: 700;

$font-family: 'Karla', sans-serif;

$breakpoints: (
  small: 40em,
  // 544px,
  medium: 60em,
  // 760px,
  large: 61.25em,
  // 980px,
);

/*----------------------------
	RESET: START
------------------------------*/
// https://github.com/hankchizljaw/modern-css-reset/blob/master/dist/reset.css

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*----------------------------
	Attribution in footer
------------------------------*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*----------------------------
	Page layout
------------------------------*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 1rem;
  font-family: $font-family;
  font-size: $size-main;
  background-color: $lightGray;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleprice-grid {
  max-width: 680px;
  margin: 0 0.6rem 0 0.6rem;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.singleprice {
  padding: 1.5rem 1.3rem 2rem 1.3rem;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 0 0 1rem 0;
  }

  &__mainheading {
    letter-spacing: -0.02rem;
    font-size: 1.34rem;
    color: $cyan;
  }

  &__subheading {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    color: $brightYellow;
  }

  &__mainparagraph {
    line-height: 1.66rem;
    letter-spacing: -0.02rem;
    font-size: 0.9em;
  }

  &__secondaryheading {
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
  }

  &__pricing {
    display: flex;
    align-items: center;
  }

  strong {
    font-size: 2rem;
    padding-right: 1rem;
  }

  em {
    font-style: normal;
    color: $lightGray;
  }

  &__monthlyparagraph {
    padding-bottom: 2rem;
  }

  button {
    width: 100%;
    height: 3.5rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: $brightYellow;
    color: white;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
  }

  &:nth-child(1) {
    background-color: white;
    color: $grayishBlue;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &:nth-child(2) {
    background-color: $cyan;
    color: white;
  }

  &:nth-child(3) {
    background-color: $lighterCyan;
    color: white;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}

@media screen and (min-width: map-get($breakpoints, small)) {
  .singleprice-grid {
    display: grid;
    grid-template: 0.5fr 0.8fr / 1fr 1fr;
  }
  .singleprice {

    &__mainparagraph {
      font-size: 1rem;
    }
    &:nth-child(1) {
      padding: 2.5rem 5rem 2.5rem 3rem;
      grid-area: 1 / 1 / 1 / span 2;
    }
    &:nth-child(2) {
      padding: 3rem;
      grid-area: 2 / 1 / 2 / 1;
      border-radius: 0 0 0 0.5rem;
    }
    &:nth-child(3) {
      padding: 3rem;
      grid-area: 2 / 2 / auto / auto;
      border-radius: 0 0 0.5rem 0;
    }
  }
}
